@import "primeng/resources/themes/lara-dark-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@tailwind utilities;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:not(.pi) {
	font-family: var(--font-family);
}

html,
body {
	height: 100dvh;
}

body {
	background-color: var(--surface-color);
	display: flex;
	justify-content: center;
}
